header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.4rem;
    padding: 0 1rem;
    background-color: #043464;
    color: white;
    .logo{
        cursor: pointer;
    }
    .icon{
        height: 2.4rem;
        padding: 0.4rem 0;
        fill: white;
        cursor: pointer;
        border: none;
        outline: none;
    }
}